.app-header {
    width: 100%;
    padding: 0 10px;
    background-color: #dfdfdf;
    @include for-narrow-layout {
        padding: 0 50px;
    }
    .phone {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        text-decoration: none;
        display: none;
        @include for-narrow-layout {
            display: block;
        }
    }

    .branch {
        font-weight: bold;
        color: rgb(197, 31, 31);
        cursor: pointer;
        display: none;
        @include for-narrow-layout {
            display: block;
        }
    }

    .logo {
        width: 220px;
        height: 50px;
        object-fit: cover;
        background-color: black;
    }
    .cart {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
}
