/* helpers */

.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.flex-start {
    align-items: flex-start;
}
.flex-end {
    align-items: flex-end;
}
.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.width-all {
    width: 100%;
}

.height-all {
    height: 100%;
}

.width-content {
    width: fit-content;
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-layout > *:not(:last-child) {
    margin-bottom: 7.5px;
}

.btn {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.toggle-menu {
    display: block !important;
    position: fixed;
    background-color: white;
    left: 30px;
    top: 100px;
    animation: menu-in 0.2s ease-in;

    @include for-narrow-layout {
        display: block !important;
        left: 0;
        top: 0;
        flex-direction: column;
        position: relative;
        @keyframes menu-in {
            0% {
                transform: translateX(-70%);
            }
            25% {
                transform: translateX(-50%);
            }
            50% {
                transform: translateX(-30%);
            }
            75% {
                transform: translateX(-15%);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
}
