$mobile-breakpoint: 680px;
$narrow-breakpoint: 850px;
$normal-breakpoint: 1000px;
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 710px;



$black:#121212;
$clr2:#333;
